<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="../img/icon.png">
    <link rel="stylesheet" href="../css/styles.css">
</head>    

<body class="body-about">
    <div>
        {{>header}}
        <img class="img" src="/img/photo_2023-08-08_18-03-45.jpg">
    </div>
    {{>footer}}
</body>

</html>