<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel="icon" href="../img/icon.png">
    <link rel="stylesheet" href="../css/styles.css">
</head>    

<body class="body-help">
    <div>
        {{>header}}
        <p style="position: none">{{contactInfo}} {{name}}</p>
        <p>{{helpInfo}}</p>
        <img class="img" src="/img/desert.jpg">
    </div>
    {{>footer}}
</body>

</html>