body {
    color: #333333;
    font-family: Arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 60px;

    /* display: flex;
    flex-direction: column;
    min-height: 100vh; */

}

footer {
    border-top: 1px solid grey;
    padding: 10px;
    color: #888888;
    position: absolute;
    bottom: 10px;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    padding-left: 18px;
    padding-right: 9px; 
    text-decoration: none;
    color: #888888;
 }
 
.img {
    width: 500px;
}

.link-sign {
    text-decoration: none;
    color: #333333
}

.body-about {
    background-color: #567178;
}

.body-help {
    background-color: #db8f49;
}

.body-404 {
    background-color:rgb(121, 88, 50);
}

.p-error {
    font-size: 25px;
    color: rgb(212, 115, 115);
}

input {
    border: 2px solid #cccccc;
    padding: 6px;
    transition: 1.5s;
    outline: none;
}

input:focus {
    border: 2px solid #555;
}

button {
    cursor: pointer;
    border: 2px solid #888888;
    background: #888888;
    color: white;
    padding: 6px;
}
